## Python Tutorial

- Creating Variables

Python has no command for declaring a variable. <br>
A variable is created the moment you first assign a value to it.

In [1]:
a = 10
b = "Tony Stark"
c = True

print(a)
print(b)
print(c)

10
Tony Stark
True

Sting variables can be described either by single or double quotes

In [2]:
a = "Apple"
b = 'Mango'

print(a)
print(b)

Apple
Mango

Names are Case Sensitive

In [3]:
a = 100
A = 400

print(a)
print(A)

100
400

### Declaring Variables

- A variable can have short names but its better to have a more descriptive name(e.g: personName, productCart, Age etc.)

Rules for Variable Names:
- A variable name must start with a letter or the underscore character
- A variable name cannot start with a number
- A variable name can only contain alpha-numeric characters and underscores
- Variable names are case-sensitive

In [ ]:
#Allowed Names

newvariable = "Genesis"
new_variable = "Genesis"
_new_variable = "Genesis"
newVariable = "Genesis"
NEWVARIABLE = "Genesis"
newvariable2 = "Genesis"

#Not Allowed

2newvariable = "Genesis"
new-variable = "Genesis"
new variable = "Genesis"

Assigning Multiple Variables

In [5]:
#Many values to multiple variables
a, b, c = 2, "python", False

print(a)
print(b)
print(c)

2
python
False

In [6]:
#One value to multiple variables
a = b = c = 5

print(a)
print(b)
print(c)

5
5
5

In [7]:
#collection unpacking
a, b, c = [10, 50, 90]

print(a)
print(b)
print(c)

10
50
90

Output Variables

In [8]:
print("Machines are learning")

Machines are learning

In [9]:
a = "Machines"
b = "Learning"

print(a+b)

MachinesLearning

In [ ]:
print("python score is:: " + 80)

### Global and Local variables
- Global variables are declared outside the function and can be accessed from anywhere
- Local variables are declared inside the function and are only called in that code block

In [4]:
a_val = "Elon Musk" #global variable

def func_b():
    b_val = " is Owner of Space-X" #local variable
    print(a_val+b_val)
    
def func_c():
    c_val = " is owner of Tesla"
    print(a_val+c_val)
    
func_b()
func_c()
print(a_val, b_val, c_val)

Elon Musk is Owner of Space-X
Elon Musk is owner of Tesla

NameError: name 'b_val' is not defined

### Data Types

Variables can store different data-types, different data-types can do different things.

Number
- int
- float
- complex

In [12]:
#Int

a = 1000
b = -1234

print(type(a))
print(type(b))

<class 'int'>
<class 'int'>

In [14]:
#changing datatypes 
a = 10.89
print(type(a))
b = int(a)
print(type(b))

<class 'float'>
<class 'int'>

In [16]:
#float

a = 10.839
b = 6/4
c = -89.29
print(type(a))
print(type(b))
print(type(c))

<class 'float'>
<class 'float'>
<class 'float'>

In [17]:
#change to float

a = 9

b = float(a)

print(type(a))
print(type(b))

<class 'int'>
<class 'float'>

In [22]:
#complex

a = 3 + 8j
b = 7j

print(type(a))
print(type(b))

<class 'complex'>
<class 'complex'>

In [23]:
#split complex into real and imaginary

print(a.real)
print(a.imag)
print(b.real, b.imag)

3.0
8.0
0.0 7.0

In [21]:
print(a.conjugate())

(3-8j)

In [40]:
#Random Number

import random
print(random.randint(1,4))
print(random.randrange(1,100, 2))

3
13

#### Type Casting

Change one data type to another

In [41]:
a = "199"
print(type(a))
print(type(int(a)))

<class 'str'>
<class 'int'>

String

In [1]:
a = """
    Data science is an interdisciplinary 
    field focused on extracting knowledge 
    from data sets, which are typically large 
    (see big data), and applying the knowledge 
    and actionable insights from data to solve 
    problems in a wide range of application domains
"""

In [2]:
print(a)

    Data science is an interdisciplinary
    field focused on extracting knowledge
    from data sets, which are typically large
    (see big data), and applying the knowledge
    and actionable insights from data to solve
    problems in a wide range of application domains

In [4]:
#String are treated as arrays

a = "Artificial Intelligence"

print(a[0], a[1], a[2])

A r t

In [5]:
#for loop
for i in a:
    print(i)

A
r
t
i
f
i
c
i
a
l

I
n
t
e
l
l
i
g
e
n
c
e

In [6]:
#len of string
len(a)

23

In [9]:
#slicing in string

x = "python is fun"

print(x[2:5])

tho

In [12]:
print(x[-5:-1])
print(x[-3:-9:-1])

s fu
f si n

In [17]:
#Modify string

x = " python "

print(x.lower())
print(x.upper())
print(x.strip())
print(x.replace("y", "i"))
print(x.split(" "))

 python
 PYTHON
python
 pithon
['', 'python', '']

In [18]:
#concatenate

print("heloo" + " "+ "pthon")

heloo pthon

In [20]:
#Format strings

x = 56
y = 25

print("My fathers age is {} and my age is {}".format(x, y))

My fathers age is 56 and my age is 25

In [22]:
print("My fathers age is {0} and my age is {1}".format(x, y))
print("My fathers age is {1} and my age is {0}".format(y, x))

My fathers age is 56 and my age is 25
My fathers age is 56 and my age is 25

In [14]:
#string is immutable

s = "python"
s[1] = "i"

TypeError: 'str' object does not support item assignment

Boolean

In [24]:
print(9>91)
print(10==10)
print(10<9)

False
True
False

In [27]:
print(bool("hello"))
print(bool(15))
print(bool(15<14))

True
True
False

In [29]:
#No value or data
print(bool(""))
print(bool([]))
print(bool(()))
print(bool(0))
print(bool({}))

False
False
False
False
False

Operators

In [31]:
print(10+5)
print(10-5)
print(10/5)
print(10%5)
print(10//5)
print(10*5)
print(10**5)

15
5
2.0
0
2
50
100000

and --> Returns True if both statements are true<br>
or -->  Returns True if one of the statements is true<br>
not -->  Reverse the result, returns False if the result is true<br>

In [35]:
print(5 and 6) #Return the last value is every value exists instead of 0(i.e treated as False)
print(5 or 6)  #Return the first value is every value exists

6
5

In [39]:
print("urr" and 8 or 0 and "jdd")
print("urr" or 8 or 0 or "jdd")

8
urr

in --> Returns True if a sequence with the specified value is present in the object<br>
not in --> Returns True if a sequence with the specified value is not present in the object

In [8]:
x = "You are the creater of your own future"

print("creater" in x)
print("own" not in x)

True
False

- Representing Records
1. Lists
2. Tuples
3. Sets
4. Dictionary

List

In [2]:
bob = ['Bob Smith', 42, 30000, 'software']
sue = ['Sue Jones', 45, 40000, 'hardware']

print(bob, type(bob))
print(sue, type(sue))

['Bob Smith', 42, 30000, 'software'] <class 'list'>
['Sue Jones', 45, 40000, 'hardware'] <class 'list'>

In [3]:
#accessing elements in list

print(bob[0], sue[3])

Bob Smith hardware

In [5]:
#slicing in list

print(bob[1:5])

[42, 30000, 'software']

In [7]:
#what is bob's last name
print(bob[0].split(" ")[-1])

Smith

In [10]:
# give sue a 25% raise

sue[2] *= 1.25

In [11]:
sue

['Sue Jones', 45, 62500.0, 'hardware']

In [16]:
#list constructor

people = list((bob, sue))
people

[['Bob Smith', 42, 30000, 'software'], ['Sue Jones', 45, 62500.0, 'hardware']]

In [18]:
people[0][0]

'Bob Smith'

In [19]:
for i in people:
    print(i)

['Bob Smith', 42, 30000, 'software']
['Sue Jones', 45, 62500.0, 'hardware']

In [23]:
#collect all pay
pays = [person[2] for person in people] #list comprehension
print(pays)

[30000, 62500.0]

In [25]:
# ditto (map is a generator in 3.X)
pays = map((lambda x: x[2]), people)
print(list(pays))

[30000, 62500.0]

In [28]:
# generator expression, sum built-in
sum(person[2] for person in people)

92500.0

In [38]:
#to add records
people.append(['Tom', 50, 0, None])
print(people)

[['Bob Smith', 42, 30000, 'software'], ['Sue Jones', 45, 62500.0, 'hardware'], ['Tom', 50, 0, None], ['Tom', 50, 0, None]]

In [30]:
print(len(people))

3

In [39]:
#join two lists into one

merge_peoples = []

for data in people:
    merge_peoples.extend(data)

print(merge_peoples)

['Bob Smith', 42, 30000, 'software', 'Sue Jones', 45, 62500.0, 'hardware', 'Tom', 50, 0, None, 'Tom', 50, 0, None]

In [40]:
#remove record from list
people.remove(people[2])
print(people)

[['Bob Smith', 42, 30000, 'software'], ['Sue Jones', 45, 62500.0, 'hardware'], ['Tom', 50, 0, None]]

In [41]:
merge_peoples.remove('Tom')
print(merge_peoples)

['Bob Smith', 42, 30000, 'software', 'Sue Jones', 45, 62500.0, 'hardware', 50, 0, None, 'Tom', 50, 0, None]

In [52]:
#list is mutable

merge_peoples[-1] = 50000
print(merge_peoples)

['Bob Smith', 42, 30000, 'software', 'Sue Jones', 45, 62500.0, 'hardware', 50, 0, None, 'Tom', 50, 0, 50000]

In [53]:
#add a value in any position

merge_peoples.insert(2, "newInsert")
print(merge_peoples)

['Bob Smith', 42, 'newInsert', 30000, 'software', 'Sue Jones', 45, 62500.0, 'hardware', 50, 0, None, 'Tom', 50, 0, 50000]

In [55]:
#sort list
x = [100, 40, 10, 110]
x.sort()
print(x)

[10, 40, 100, 110]

In [56]:
x.sort(reverse=True)
print(x)

[110, 100, 40, 10]

In [60]:
#sort in lower to upper

persons = ["Jack", "aDam", "joHn", "chris"]
persons.sort(key=str.lower)
print(persons)

['aDam', 'chris', 'Jack', 'joHn']

In [61]:
#reverse a list
persons.reverse()
print(persons)

['joHn', 'Jack', 'chris', 'aDam']

In [62]:
#copy a list
y = persons.copy()
print(y)

['joHn', 'Jack', 'chris', 'aDam']

Tuples

In [64]:
tuple_val = ("jack", "john", "stark")
print(tuple_val, type(tuple_val))

('jack', 'john', 'stark') <class 'tuple'>

In [66]:
#make list to tuple
print(tuple(persons))

('Messi', 'Jack', 'chris', 'aDam')

In [72]:
print(tuple_val[2])
print(tuple_val[-2])
print(tuple_val[1:])

stark
john
('john', 'stark')

In [68]:
print(len(tuple_val))

3

In [69]:
#tuple are immutable
tuple_val[1] = "Robert"

TypeError: 'tuple' object does not support item assignment

In [74]:
#add item in tuple
# tuple_val+=("chris")
tuple_val+=("chris",)
print(tuple_val)

('jack', 'john', 'stark', 'chris')

In [76]:
#unpack tuple

red, green, blue, black = tuple_val #we can do same for list
print(red, green, blue, black)

jack john stark chris

In [77]:
#using *(Asterick)

red, green, *black = tuple_val
print(red, green)
print(black)

jack john
['stark', 'chris']

In [78]:
#looping in tuple

for i in tuple_val:
    print(i)

jack
john
stark
chris

In [79]:
for i in range(len(tuple_val)):
    print(tuple_val[i])

jack
john
stark
chris

Sets

In [80]:
set_val = {"jack", "john", 10}
print(set_val)

{'john', 10, 'jack'}

In [81]:
set_val = {"jack", "john", 10, 10, 10, "cat", "john"}
print(set_val)

{'cat', 'john', 10, 'jack'}

In [82]:
for i in set_val:
    print(i)

cat
john
10
jack

In [83]:
#Adding items

set_val.add("chris")
print(set_val)

{'cat', 10, 'jack', 'chris', 'john'}

In [84]:
# adding set and list

list1 = [1,4,9]
set1 = {"apple", "mango"}

set_val.update(list1)
print(set_val)

{'cat', 1, 4, 9, 10, 'jack', 'chris', 'john'}

In [85]:
set_val.update(set1)
print(set_val)

{'cat', 1, 4, 9, 10, 'apple', 'jack', 'chris', 'mango', 'john'}

In [86]:
#type casting

print(set(list1))

{1, 4, 9}

In [87]:
#remove items

set_val.remove("john")
print(set_val)

{'cat', 1, 4, 9, 10, 'apple', 'jack', 'chris', 'mango'}

In [88]:
set_val.discard("apple")
print(set_val)

{'cat', 1, 4, 9, 10, 'jack', 'chris', 'mango'}

In [90]:
set_val.pop() #remove first position element
print(set_val)

{4, 9, 10, 'jack', 'chris', 'mango'}

In [91]:
set_val.clear()
print(set_val)

set()

Union

![title](Union1.png)

In [94]:
# set concepts

#Union

A = {1,2,3,5,10}
B = {8, 10}

S = A.union(B)
print(S)

{1, 2, 3, 5, 8, 10}

Intersection

![title](Intersection.png)

In [96]:
#Intersection

S = A.intersection(B)
print(S)

{10}

In [98]:
#symmetric difference

S = A.symmetric_difference(B)
print(S)

{1, 2, 3, 5, 8}

Dictionary<br>
- Dictionaries are used to store data is key value paired
- It is ordered, changeable and do not allow duplicates

In [100]:
John = {'name': 'John Smith', 'age': 40, 'pay': 45903, 'job': 'software'}
Chris = {'name': 'Chris Adams', 'age': 39, 'pay': 59104, 'job': 'hardware'}

In [111]:
print(John, type(John))
print(Chris, type(Chris))

{'name': 'John Smith', 'age': 56, 'pay': 45903, 'job': 'software'} <class 'dict'>
{'name': 'Chris Adams', 'age': 39, 'pay': 59104, 'job': 'hardware'} <class 'dict'>

Note: In each dictinary left-side are called keys and right-side are called values

In [103]:
#accessing values in dict

print(John["name"], John["pay"], Chris["name"], Chris["pay"])

John Smith 45903 Chris Adams 59104

In [104]:
#dict length

print(len(John))

4

In [108]:
#Duplicates are not allowed
John = {'name': 'John Smith', 'age': 40, 'pay': 45903, 'job': 'software', "age": 56}

In [109]:
John

{'name': 'John Smith', 'age': 56, 'pay': 45903, 'job': 'software'}

In [110]:
John["name"].split(" ")[0]

'John'

In [112]:
#we can also use get
print(Chris.get("name"))

Chris Adams

In [113]:
#print all keys
print(Chris.keys())

dict_keys(['name', 'age', 'pay', 'job'])

In [114]:
#print all values
print(Chris.values())

dict_values(['Chris Adams', 39, 59104, 'hardware'])

In [115]:
#add data is dict

Chris["countriesVisited"] = ["India", "USA", "Algeria"]
print(Chris)

{'name': 'Chris Adams', 'age': 39, 'pay': 59104, 'job': 'hardware', 'countriesVisited': ['India', 'USA', 'Algeria']}

In [116]:
for key, value in Chris.items():
    print("{} ---> {}".format(key, value))

name ---> Chris Adams
age ---> 39
pay ---> 59104
job ---> hardware
countriesVisited ---> ['India', 'USA', 'Algeria']

In [118]:
#change values

Chris["job"] = "Developer"
print(Chris)

{'name': 'Chris Adams', 'age': 39, 'pay': 59104, 'job': 'Developer', 'countriesVisited': ['India', 'USA', 'Algeria']}

In [119]:
#we can also use update

Chris.update({"age": 41})
print(Chris)

{'name': 'Chris Adams', 'age': 41, 'pay': 59104, 'job': 'Developer', 'countriesVisited': ['India', 'USA', 'Algeria']}

In [120]:
#Remove items
Chris.pop("job")
print(Chris)

{'name': 'Chris Adams', 'age': 41, 'pay': 59104, 'countriesVisited': ['India', 'USA', 'Algeria']}

In [121]:
Chris.popitem()
print(Chris)

{'name': 'Chris Adams', 'age': 41, 'pay': 59104}

In [122]:
#delete dict

Chris.clear()
print(Chris)

{}

In [124]:
#Nested Dict

SpiderManMovies = {
    "Movie1": {
        "actor": "Tobey Maguire",
        "age": 46
    },
    "Movie2": {
        "actor": "Andrew Garfield",
        "age": 38
    },
    "Movie3": {
        "actor": "Tom Holland",
        "age": 25
    }
}

print(SpiderManMovies)

{'Movie1': {'actor': 'Tobey Maguire', 'age': 46}, 'Movie2': {'actor': 'Andrew Garfield', 'age': 38}, 'Movie3': {'actor': 'Tom Holland', 'age': 25}}

In [126]:
for i in SpiderManMovies:
    print(SpiderManMovies[i])

{'actor': 'Tobey Maguire', 'age': 46}
{'actor': 'Andrew Garfield', 'age': 38}
{'actor': 'Tom Holland', 'age': 25}

In [127]:
dict(name="Tom", age=25, role="Spiderman")

{'name': 'Tom', 'age': 25, 'role': 'Spiderman'}

#### Array

- An array is a collection of items stored at contiguous memory locations. 
- List can be treated as an array

In [1]:
#to implement arry we need to import a python module

import array as arr

x = arr.array('i', [1, 2, 3])
print(x, type(x))

array('i', [1, 2, 3]) <class 'array.array'>

In [2]:
for i in range(len(x)):
    print(x[i])

1
2
3